<footer class="footer container text-align--center">
	<ul class="list list--inline list-unstyled">
		<li><a href="https://github.com/nicoleortizga/" aria-label="GitHub">github</a></li>
        <li><a href=" https://codepen.io/nicoleortizga/" aria-label="CodePen">codepen</a></li>
        <li><a href="/docs/NicoleOrtiz-Resume.pdf" aria-label="Resume">resume</a></li>
	</ul>
</footer>
