$color-primary: #fff;
$color-on-primary: #3b4968;
$color-secondary: #ffce6c;
$color-background: #2c374e;

$font-family: 'Montserrat', sans-serif;
$header-1-font-size: 3rem;
$header-2-font-size: 2.85rem;
$header-3-font-size: 2rem;
$text-font-size: 1.25rem;
$fz-xxs: 0.8rem;
