$color-primary: #b8c1ec;
$color-on-primary: #232946;
$color-secondary: #b300b3;
$color-background: #fff;

$font-family: 'Baloo 2', sans-serif;
$strong-font-weight: 500;
$h1-font-size: 4.2rem;
$h2-font-size: 3.15rem;
$h3-font-size: 2rem;
$h4-font-size: 1.35rem;
$text-font-size: 1.25rem;
