@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.ttf') format('ttf');
  font-display: swap;
}

@import 'theme';
@import 'reset';
@import 'custom';
@import 'utilities';
